/* @tailwind base;
@tailwind components;
@tailwind utilities; */

  /* Navbar styles */
   .navbar {
    background-color: rgba(255, 245, 245, 0.842);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.719);
    padding: 10px 20px;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;


}

body{
    background-image: url("/bg1.jpg");
    background-color: #e6e5c6;
    background-repeat: no-repeat;
    background-size: cover;
    user-select: none;
    letter-spacing: 2px;

    /* overflow: hidden ; */


}

.navbar-brand {
    color: #e53e3e;
    text-decoration: none;

    font-weight: 650;
    font-size: 35px;
    font-style: normal;
    letter-spacing: 0.1em;
}

.navbar-nav {
    display: flex;
    list-style-type: none;
    margin: 0;
    text-shadow: 4px 4px 6px #000000;
    font-family: "Montserrat", sans-serif;
    color: rgb(255, 255, 255);
    font-weight: 650;
    font-size: 30px;
    font-style: normal;
    padding: 10px;


}



.nav-item {
    margin-right: 30px;
}

.nav-link {
    text-decoration: none;
    color: #548ef8;
    font-size: 2.5rem;
    font-family: "MuseoModerno", sans-serif;
    font-weight: 800;
    -webkit-text-stroke: 1.5px #000000;
}

.nav-link:hover {
    color: #3266c7;
}


.general-btn {
    background-color: #e0c83d;
    color: #fff;
    border: none;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.1rem;
    font-family: "Montserrat", sans-serif;
    font-weight: 650;
    font-style: normal;
    transition: background-color 0.3s ease;
    text-decoration: none;
    margin-right: 10px;

}

.general-btn:hover {
    background-color: #b19e33;
}


/* Logout button style */
.logout-btn {
    background-color: #e53e3e;
    color: #fff;
    border: none;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.1rem;
    font-family: "Montserrat", sans-serif;
    font-weight: 650;
    font-style: normal;
    transition: background-color 0.3s ease;
    text-decoration: none;

}

.logout-btn:hover {
    background-color: #c53030;
}

.item-table {
    background-color: rgba(0, 0, 0, 0.89);
    box-shadow: 0 2px 4px rgba(236, 168, 222, 0.562);
    margin: 5px;
    padding: 5px;
    border-radius: 10px;
}

.product-table,
.user-table {
    width: 100%;
    table-layout: auto;
    color: #fff;
    font-family: "Montserrat", sans-serif;
    font-weight: 650;
    font-style: normal;
}

.product-table th,
.product-table td,
.user-table th,
.user-table td {
    text-align: center;
    padding: 10px;
}

.product-table img {
    display: block;
    margin: 0 auto;
}

.pagination {
    margin-bottom: 10px;
    text-align: center;
}

.btn {
    padding: 5px 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;

}

.btn:hover {
    background-color: #0056b3;
}

.btn-cancel {
    padding: 5px 10px;
    background-color: #ee2424;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;

}
.btn-cancel:hover {
    background-color: #b40c0c;
}

.btn-page {
    padding: 5px 10px;
    background-color: #007bff;
    color: #fff;
    border-radius: 5px;
    font-family: "Montserrat", sans-serif;
    font-weight: 650;
    font-style: normal;
    text-decoration: none;
    margin: 0 5px;
}

.btn-page:hover {
    background-color: #0056b3;
}

button{
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-weight: 650;
    font-style: normal;
    border: none;
    box-sizing: content-box;
    font-size: 16px;

  }
/* login css */
  .login-container {
    width: 450px;
    height: 450px;
    border-radius: 15px;
    background: rgb(228, 241, 245);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Montserrat", sans-serif;
    font-weight: 650;
    margin: 0 auto;
    margin-top: 50px;
}

.reg-container {
    width: 600px;
    height: 700px;
    border-radius: 15px;
    background: rgb(247, 243, 243);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Montserrat", sans-serif;
    font-weight: 650;
    margin: 0 auto;
    margin-top: 50px;
}


.header {
    background-color: rgba(209, 209, 209, 0.76);
    font-size: 35px;
    font-style: normal;
    text-align: center;
    border-radius: 15px 15px 0px 0px;
    padding: 10px;
    margin-bottom: 20px;
}

.form-group {

    font-size: 20px;
    width: 90%;
    padding: 10px;
}

.form-label {
    display: block;
    font-size: 20px;
    font-weight: bold;
    color: #333;
    margin-bottom: 5px;
}

.form-input {
    width: calc(100% - 20px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.search-input{
    width: 650px;
    padding: 10px;
    height: 30px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.login-input {
    width: calc(100% - 20px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    margin-left: 18px;
}
.login-butt{
    display: flex;
    justify-content: space-evenly ;
    margin-left: 20px;
    padding: 20px;

}


.login-buttons {
    padding: 10px 20px;
    position: relative;
    text-align: center;
    background-color: #007bff;
    color: #fff;
    border-radius: 5px;
    font-family: "Montserrat", sans-serif;
    font-weight: 650;
    font-style: normal;
    text-decoration: none;

}



.login-buttons:hover {
    background-color: #226fc2;
}

/*forms css */


.form-container{
    background-color: rgba(0, 0, 0, 0.89);
    box-shadow: 0 2px 4px rgba(236, 168, 222, 0.562);
    margin: 5px;
    padding: 5px;
    font-family: "Montserrat", sans-serif;
    font-weight: 650;
    font-style: normal;
    text-decoration: none;
    color: white;
    border-radius: 10px;
    width: 99%;
    max-width: 1900px;
    height: 800px;

}



.forms-label {
    display: block;
    font-size: 20px;
    font-weight: bold;
    color: #ffffff;
    margin-bottom: 5px;
}


.form-groups {

    font-size: 20px;
    width: 95%;
    padding: 10px;
}

.edit-container {
    background-color: rgba(0, 0, 0, 0.89);
    box-shadow: 0 2px 4px rgba(236, 168, 222, 0.562);
    margin: 5px;
    padding: 5px;
    font-family: "Montserrat", sans-serif;
    font-weight: 650;
    font-style: normal;
    text-decoration: none;
    color: white;
    border-radius: 10px;
    width: 99%;
    max-width: 1900px;
    height: 800px;

}

.edit-container .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.edit-container .navbar h2 {
    margin: 0;
}

.edit-container .navbar-nav {
    display: flex;
}



.edit-container .row {
    display: flex;
    flex-wrap: wrap;
}

.edit-container .form-group {
    flex: 0 0 100%;
    margin-bottom: 10px;
}

.edit-container .forms-label {
    display: flex;
    align-items: center;
}

.edit-container .forms-label strong {
    margin-right: 10px;
}

.edit-container .form-input {
    width: 80%;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.edit-container img {
    max-width: 100%;
    margin-top: 10px;
}


.roll-in {
    animation: roll-in 1s ease;
  }
  @keyframes roll-in {
    0% {
      opacity: 0;
      transform: translateX(-100%) ;
    }
    100% {
      opacity: 1;
      transform: translateX(0px);
    }
  }

  .grow {
    animation: grow 1s ease;
  }
  @keyframes grow {
    from { transform: scale(0.3); }
    to { transform: scale(1); }
  }

  .flip {
	backface-visibility: visible !important;
	animation: flip 1s ease ;
}
@keyframes flip {
	0% {
		transform: perspective(400px) rotateY(0);
		animation-timing-function: ease-out;
	}

	80% {
		transform: perspective(400px) rotateY(360deg) scale(.95);
		animation-timing-function: ease-in;
	}
	100% {
		transform: perspective(400px) scale(1);
		animation-timing-function: ease-in;
	}
}


.rows {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.left-side,
.right-side {
    width: 45%;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 10px;
    color: white;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-weight: 650;
    font-style: normal;
    text-decoration: none;
    display: relative;
    border-radius: 5px;
}

.imageContainer {
    overflow-y: auto;
    max-height: 600px; /* Adjust as needed */
    border-radius: 10px;

}

.imageContainer::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar width */
    height: 0; /* Remove scrollbar height */
}

img {
    width: 100%; /* Adjust as needed */
    margin-bottom: 10px;
}

@media (max-width: 768px) {
    .left-side,
    .right-side {
        width: 100%;
    }
}

@media (max-width: 768px) {
    .left-side,
    .right-side {
        width: 100%;
    }
}

.pulse {
    animation: pulse 2s infinite ease-in-out alternate;
  }
  @keyframes pulse {
    from { transform: scale(0.98); }
    to { transform: scale(1); }
  }

  .dropdown{
    font-family: "Montserrat", sans-serif;
    text-align: center;
    font-weight: 650;
    font-style: normal;
    background-color: transparent;
    color: white;
    border: none;
  }
  .dropdown option{
    font-family: "Montserrat", sans-serif;
    text-align: center;
    font-weight: 650;
    font-style: normal;
    background-color: transparent;
    color: black;
    border: none;
  }


