.homecontainer {
    margin-top: 5px;
    border-radius: 15px;
    padding: 10px;
    display: flex;
    flex-wrap: wrap; /* Allow containers to wrap to the next line */
    justify-content: space-evenly; /* Align containers at the beginning and end */
    background-color: rgba(0, 0, 0, 0.479);
}

.product-container,
.user-container {
    width: 45%; /* Adjust as needed */
    border: 1px solid #ccc;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 10px;
    background-color: #4570e7;
    color: white;
    padding: 14px 25px;
    text-align: center;
    font-family: "Bungee Hairline", sans-serif;
    font-weight: 1000;
    font-style: normal;
    text-decoration: none;
    display: inline-block;
    border-radius: 5px;
}

.product-container header,
.user-container header,
.order-container header {
    font-size: 20px;
    background-color: rgba(41, 40, 40, 0.479);
    margin-bottom: 10px;
    font-weight: bolder;
    text-align: center;
}

.order-container {
    width: 95%; /* Make sure order container takes full width */
    background-color: #4570e7;
    color: white;
    padding: 14px 25px;
    text-align: center;
    font-family: "Bungee Hairline", sans-serif;
    font-weight: 1000;
    font-style: normal;
    text-decoration: none;
    display: inline-block;
    border: 1px solid #ccc;
    padding: 20px;
    margin-top: 20px; /* Adjust margin as needed */
    margin-bottom: 10px;
    border-radius: 5px;
}

.pulse {
    animation: pulse 1s infinite ease-in-out alternate;
  }
  @keyframes pulse {
    from { transform: scale(0.98); }
    to { transform: scale(1); }
  }

  .grow {
    animation: grow 1s ease;
  }
  @keyframes grow {
    from { transform: scale(0.3); }
    to { transform: scale(1); }
  }
